@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("../assets/fonts/inter/InterRegular.woff2") format("woff2"),
    url("../assets/fonts/inter/InterRegular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("../assets/fonts/inter/InterMedium.woff2") format("woff2"),
    url("../assets/fonts/inter/InterMedium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../assets/fonts/inter/InterSemiBold.woff2") format("woff2"),
    url("../assets/fonts/inter/InterSemiBold.woff") format("woff");
}
